<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" 
th:replace="base::Layout(~{::section})">
<head>
      <meta charset="UTF-8" />
       <title>this is the home page</title>
</head>
<body>
     <section class="banner d-flex justify-content-center align-items-center">
     <div class="text-center">
     <h1>Smart contact manager</h1>
     <p> start collecting your contact in very smarter way.We provide very efficient and smarter way of handling contact.
     </p>
     <button class="btn btn-primary btn-Lg">Get Start</button>
     </div>    
     </section>
</body>
</html>